body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #0779E4;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: orange;
}

section.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    gap: 40px;
    background: #191978;
background: linear-gradient(90deg, rgba(25, 25, 120, 1) 0%, rgba(0, 212, 255, 1) 80%);
}

section.hero img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.hero a{
 text-decoration: none;   
}
.textimg {
    width: 55%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textimg h1 {
    margin: 0;
    font-size: 45px;
}

.textimg h3 {
    margin: 0;
    font-size: 30px;
}

.textimg p {
    font-size: 18px;
    line-height: 1.5;
}

.btn {
     background-color: white;
    color: #0779E4;
    border: none;
    padding: 12px 20px;
    width: 120px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: white;
    color: #0779E4;
}

section.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
}

section.about img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.abouttext {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #333;
}

.abouttext h1 {
    font-size: 36px;
    color: #333;
}

.abouttext h2 {
    font-size: 22px;
    color: #0779E4;
}

.abouttext p {
    color: #666;
    line-height: 1.6;
}

section.Education {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
}
.skills-row {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.skill {
    align-items: center;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #333;
}
.skills img{
    width: 40%;
    height: 600px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.skill-text{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skill-name{
    margin-top: 20px;

}
.skill-name i {
    font-weight: bold;
    padding: 20px;
    margin-left:30px ;
    font-size:larger;
    color: #0779E4;
}

.soft-skills {
    margin-top: 40px;
}

.soft-skills h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.soft-skills ul {
    list-style: none;
    padding-left: 0;
}

.soft-skills ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin: 10px 0;
}

.soft-skills ul li i {
    font-size: 1.5rem;
    color: #333;
}


.Educationtext {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #333;
}
.Education img{
    width: 400px;
}

.Educationtext h1 {
    font-size: 36px;
    color: #333;
}

.Educationtext h2 {
    font-size: 22px;
    color: #0779E4;
}

.Educationtext p {
    color: #666;
    line-height: 1.6;
}



section.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
}

section.skill img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.skill-row {
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
    
}

.skill {
    flex: 1;
}

.skills {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
    
}

.skills h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.skill {
    margin-bottom: 20px;
}

.skill-name {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.skill-bar {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.skill-fill {
    height: 100%;
    background-color: #0779E4;
    border-radius: 10px;
}

section.Experience {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
    margin-top: 50px;
    margin: 30px;
}

section.Experience img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.abouttext {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #333;
}

.Experiencetext h1 {
    font-size: 36px;
    color: black;
    margin-bottom: 150px;
    font-weight: bold;
}

.Experiencetext h2 {
    font-size: 36px;
    color: black;
    margin-bottom: 40px;
}

.Experiencetext h3 {
    color: #999999;
}

.services {
    padding: 60px 80px;
    background-color: #e6f0ff;
    text-align: center;
    border: 2px red solid;

}

.serv h1 {
    font-size: 36px;
    margin-bottom: 50px;
    color: #333;
    text-align: center;


}

.service-container {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box {
    background-color: white;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    min-height: 250px;
}

.service-box img {
    width: 100%;
    margin-bottom: 20px;
}

.service-box img app {
    width: 80%;
}
.service-box button{
    width:100px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    color: red;
}
.service-box button a{
    text-decoration: none;
    color: red;
    
}
.service-box h3 {
    margin-bottom: 15px;
    color: #0779E4;
}

.service-box p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.service-box h2 a {
    color: #0779E4;
    font-size: 18px;
    margin-top: 60px;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

section.contact {
    margin-top: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
    margin: 30px;
}

.conntact {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #333;

}

.conntact .contact-row {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.conntact .contact-info h2 {
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}

.conntact .contact-info p {
    color: #0779E4;
    margin: 0;
}

.conntact .contact-info a {
    color: #0779E4;
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1000px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #0779E4;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #055bb5;
}

.footer {
    background: #111;
    color: white;
    padding: 40px 0;
    text-align: center;
    margin-top: 50px;
}

.footer-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-container p {
    color: #ccc;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icons a {
    font-size: 25px;
    color: #fff;
    background: #222;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #ff6600;
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 0 10px #ff6600;
}

.copy {
    margin-top: 15px;
    font-size: 14px;
    color: #999;
}

@media (max-width: 1024px) {

    section.hero,
    section.about,
    section.Education,
    section.skill,
    section.Experience,
    section.contact {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    section.hero img,
    section.about img,
    section.Education img,
    section.skill img,
    section.Experience img,
    section.contact img {
        width: 80%;
        margin-bottom: 20px;
    }

    .textimg,
    .abouttext,
    .Educationtext,
    .Experiencetext,
    .conntact {
        width: 100%;
    }

    nav ul {
        gap: 15px;
        flex-wrap: wrap;
    }

    .skill-row {
        flex-direction: column;
        gap: 30px;
    }

    .service-container {
        height: auto;
        gap: 20px;
    }

    .service-box img {
        height: 250px;
    }
}

@media (max-width: 600px) {

    nav ul li a {
        font-size: 14px;
    }

    .textimg h1 {
        font-size: 32px;
    }

    .textimg h3 {
        font-size: 22px;
    }

    .btn {
        width: 100px;
        font-size: 14px;
    }

    .service-box {
        padding: 20px 15px;
    }

    section.hero img,
    section.about img,
    section.Education img,
    section.skill img,
    section.Experience img,
    section.contact img {
        width: 95%;
    }

    .contact-form {
        width: 100%;
    }

    footer {
        padding: 30px 10px;
    }

    .social-icons a {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}